p {
    font-family: Arial;
    color: gray;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .p1 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .input1 {
    font-size: 16px;
    width: 400px;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .p2 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .bttn1 {
    background-color: blue;
    color: white;
    border: none;
    font-size: 20px;
    width: 400px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 30px;
  }