.flexbox {
    display: flex;
    flex-direction: row;
  }
  
  .d1 , .d3{
    background-color: lightblue;
    
  }
  
  .d2{
    background-color: lightpink;
  }
  .d1{
    width: 50px;
  }
  
  .d2 {
    flex: 1;
  }
  
  .d3 {
    width: 75px;
  }