body {
    height: 3000px;
  }
  
  .d1 {
    position: relative;
    display: inline-block;
  }
  
  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  
  .d2 {
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: black;
    color: white;
    font-family: Arial;
    padding: 5px 12px;
  }
  
  .d3{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 10px 15px;
  }