
  
  .nav{
    background-color: purple;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
  }
  
  .home {
    font-weight: bold;
  }
  
  .search {
    width: 500px;
    border: none;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 30px;
    border-radius: 15px;
    padding-left: 20px;
  }
  
  button {
    background-color: purple;
    color: white;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 8px 15px;
  }